server {
    listen 443 ssl;
    server_name  {{ passbolt_domain }};
    include includes/serversettings.conf;

    location /.well-known {
        root /srv/www/_temp/.well-known;
        allow all;
        expires off;
    }

    # include at least a / at the beginning of the rewrite rule, so that the url is not empty

    location / {
        proxy_pass          https://localhost:8444/;
        proxy_set_header    X-Real-IP          $remote_addr;
        proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Host   $host;
        proxy_set_header    X-Forwarded-Server $host;
        proxy_set_header    X-Forwarded-Port   $server_port;
        proxy_set_header    X-Forwarded-Proto  $scheme;
    }

    ssl_certificate /etc/letsencrypt/live/{{ passbolt_domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ passbolt_domain }}/privkey.pem; # managed by Certbot
}